{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="container mt-5 mb-5" style="max-width: 1200px;">

  <!-- Categories Section -->
  <div class="col-6">
    <h2 style="font-size: 18px; font-weight: bold; color: #fff;">Categories</h2>
  </div>
  <div class="row mb-5">
    {% for category in categories.all %}
      {% if category.is_active %}
        <div class="col-auto">  <!-- Change from 'col' to 'col-auto' to automatically adjust width -->
          <a type="button" href="{% url 'get_category' category.slug %}" class="btn btn-primary btn-sm">{{ category.category }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Recent Posts Section -->
  <div class="row mb-4 align-items-center">
    <div class="col-6">
      <h2 style="font-size: 28px; font-weight: bold; color: #fff;">🔥 Recent Posts</h2>
    </div>
    <div class="col-6 text-end">
      <a class="btn" href="{% url 'latest' %}" role="button"
         style="background: #0056b3; color: #fff; padding: 12px 18px; font-size: 15px; font-weight: bold; border-radius: 8px; transition: all 0.3s ease-in-out;">
        <i class="bi bi-list-check" style="margin-right: 6px;"></i> View All
      </a>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for blog in latest %}
      {% include 'card.html' with blog=blog %}
    {% endfor %}
  </div>

  <br>
  <hr style="border: none; height: 2px; background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)); margin: 50px 0;">

  <!-- Popular Posts Section -->
  <div class="row mb-4 align-items-center">
    <div class="col-6">
      <h2 style="font-size: 28px; font-weight: bold; color: #fff;">🌟 Popular Posts</h2>
    </div>
    <div class="col-6 text-end">
      <a class="btn" href="{% url 'popular' %}" role="button"
         style="background: #0056b3; color: #fff; padding: 12px 18px; font-size: 15px; font-weight: bold; border-radius: 8px; transition: all 0.3s ease-in-out;">
        <i class="bi bi-list-check" style="margin-right: 6px;"></i> View All
      </a>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for blog in popular %}
      {% include 'card.html' with blog=blog %}
    {% endfor %}
  </div>

</div>


{% endblock %}
